@import 'jquery-ui.css';
@import 'srcviewer.css';
@import 'prettify.css';
@import 'font-awesome.css';

/* keep font-awesome spinning icons from wobbling */
.wobble-fix {
  -webkit-filter: blur(0);
}

/* Messages.coffee */
.textinput-with-message input[type="text"] {
  margin-bottom: 5px;
}

.textinput-with-message .textinput-message {
  color: gray;
  font-size: 11px;
}

/* slider */
.ui-slider {
  margin-right: 10px;
  margin-left: 10px;
}

/* generic styles for sample dataset control and search control */
.app-datasource-controls-wrapper {
    display: table-row;
}

.app-sample-search-control {
    display: table-cell;
    padding-right: 1em;
    vertical-align: top;
}

.app-search-controls-wrapper {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
.app-search-controls-wrapper > div {
    width: 100%;
}

/* style fixes for SearchControlsView */
.app-search-controls-wrapper .shared-jobstatus {
    padding: 0 0 0 0;
}

.app-search-controls-wrapper .progress-bar {
    top: 23px;
}

/* generic styles for text/dropdown inputs */
.fieldset div.input-multiselect {
    width: 400px;
}

.app-error-messages {
    clear: both;
    padding-top: 0;
    display: none;
}

/* hide pdf button and fix styling for print button */
.dashboard-view-controls a.generate-pdf {
    display: none;
}

.dashboard-view-controls a.print-dashboard {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* dependency checker error wrapper */
.dependency-checker-error {
    padding: 20px;
    text-align: center;
}

@media print {
    a[href]:after {
        content: ""
    }

    .app-search-controls-wrapper .search-field-background {
        display: block !important;
    }

    .app-search-controls-wrapper .search-bar td, .app-search-controls-wrapper .search-bar th {
        width: 100% !important;
        display: table-cell;
    }

    .app-search-controls-wrapper .search-button {
        display: table-cell !important;
    }

    .app-search-controls-wrapper .shadowTextarea {
        border: 1px solid #bfbfbf !important;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        min-height: 38px;
    }

    .app-search-controls-wrapper .btn {
        border: 1px solid #bfbfbf !important;
        background: transparent !important;
        padding: 4px 12px !important;
    }

    .dashboard-body .input.input-text input, .dashboard-body .select2-container .select2-choice, .dashboard-body .select2-container .select2-choices, .dashboard-body  .select2-container .select2-search-choice {
        border: 1px solid #bfbfbf !important;
    }
}